html{
	box-sizing: border-box;
	background: #ffc600;
	font-family: Comic Sans MS;
	font-size: 20px;
	font-weight: 200;
}
body{
	margin: 0;
}
*,*:before,*:after{
	box-sizing: inherit;
}
h1{
	margin-top: 0;
}
.site-wrap{
	max-width: 700px;
	margin: 100px auto;
	padding: 40px;
	text-align: justify;
}
.align-left{
	float: left;
	margin-right: 20px;
}
.align-right{
	float: right;
	margin-left: 20px; 
}
.slide-in {
      opacity:0;
      transition:all .5s;
    }
.align-left.slide-in {
      transform:translateX(-30%) scale(0.95);
    }
.align-right.slide-in {
      transform:translateX(30%) scale(0.95);
    }
.slide-in.active{
	opacity: 1;
	transform: translateX(0%) scale(1);
}
.highlight{
	transition: all 0.2s;
	border-bottom: 2px solid white;
	position: absolute;
	top: 0;
	left: 0;
	background: #A9A9A9;
	z-index: -1;
	border-radius: 20px;
	display: block;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
nav{
   background:black;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;	
}
body.fixed-nav nav {
  position: fixed;
  box-shadow:0 5px 0 rgba(0,0,0,0.1);
}
li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}
.fixed-nav li.logo {
  max-width:500px;
}
body.fixed-nav .site-wrap {
  transform: scale(1);
}
